.banner{
    position: relative;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
    transition: all .8s ease-in-out; 
    background-image: url(./FOTOS/banner.jpeg);
    animation: banner 6s infinite linear;
}


@keyframes banner {
    0% {
        background-image: url(./FOTOS/banner.jpeg); 
    }
    49% {
        background-image: url(./FOTOS/banner.jpeg);
    }
    50% {
        background-image: url(./FOTOS/Imagen.jpeg); 
    }
    100% {
        background-image: url(./FOTOS/Imagen.jpeg);
    }

}


.banner-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.405);
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-content h3{
    color: white;
    font-size: 30px;
    filter: drop-shadow( 2px 2px 2px rgb(0, 0, 0));
    font-weight: 800;
}